/*---------------------- <SHARED CSS RULES> -----------------------*/

.section1, .bandeau, .section2, .article2, .section3, .left_section3, .left_section1{
    display:flex;
}

.left_section3, .left_section1{
    flex-direction:column;
    justify-content:space-around;
}

.section2, footer .subtitle{
    margin-left:48px;
    margin-right:48px;
}

#cream, #noodle{
    width: 100%;
}
.section3, .left_section3, #cream, #noodle{
    height: 100%;
}
/*---------------------- </SHARED CSS RULES> -----------------------*/


.button{
    background-color:#FDF3DB;
}


.section1{
    margin: 0 0 106px 48px;
    justify-content:flex-end;
}
    .left_section1{
    padding-right:48px;
    }
    #cream{
        padding-left:48px;
        max-width:600px;
    } 

.bandeau
{
    padding:96px;    
    margin-bottom:96px;
    background-color:#f5f5f5;
    justify-content:space-around;
    align-items:center;
}
    .bandeau a{
        margin-left:50px;
    }


.section2{
    justify-content:space-around;
}
    #sign_pastries{
        margin-left:48px;
    }
    .img_circle{
        width:200px;
        border-radius:50%;
    }
    
    .article2{
        flex-direction:column;
        padding-right:48px;
        padding-bottom: 66px;
    }


.section3{
    padding:48px 96px 48px 96px;
    background-color:#f5f5f5;
    margin-bottom:20px;
}

    .left_section3{
        padding-right:48px;
        justify-content:space-between;
        height:100%;

    }
        .sign{
            align-self:flex-end;
        }